@model IEnumerable<Staff.Models.Employee>

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Chief")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Chief.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { @class = "btn btn-default" })
            <button class="btn btn-default btn-delete" id="@item.Id">Delete</button>
        </td>
    </tr>
}

</table>

@section Scripts{
    <script>
        //delete employee by id
        $(".btn-delete").on("click", function (e) {
            var btn = $(e.target);
            var employeeId = parseInt(btn.attr('id'));
            var form = $('#__AjaxAntiForgeryForm');
            var token = $('input[name="__RequestVerificationToken"]', form).val();

            if (employeeId == NaN || employeeId <= 0) {
                alert("Bad request!");
                return;
            }

            if (confirm("You want to delete a employee?")) {
                btn.prop("disabled", true);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Employees")',
                    data: {
                        __RequestVerificationToken: token,
                        id: employeeId
                    },
                    success: function (ansver) {
                        if (ansver != "Success") {
                            alert(ansver);
                        }
                        else {
                            btn.closest("tr").remove();
                        }
                    },
                    error: function (jqXHR, exception) {
                        alert("Error!");
                        btn.prop("disabled", false);
                    },
                    dataType: 'json'
                });
            }
        });
    </script> 
    }